.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 4rem; */
  min-height: 100vh;

  /* background-image: url("../../assets/banner-multi.png"); */
  background-color: #F6FCFF;
  /* filter: invert(1) */
}
#primary{
  background-color: red;
}
.whitegroun{
  background-color: green;
}
.center {
  position: relative;

  background-color: rgba(0, 0, 0, 0.94);
  color: rgb(0, 255, 0);
}

.center::before {
  border-radius: 50%;
  width: 480px;
  height: 360px;
  margin-left: -400px;
}

.center::after {
  width: 240px;
  height: 180px;
  z-index: -1;
}

.presentation {
  padding: 0 3rem;
  font-family: var(--font-mono);
  /* padding-bottom: 1rem; */
}

h1.presentation {
  font-size: 1.5em;
}

.link {
  text-decoration: underline;
}

.logo {
  position: relative;
}

/* Mobile */
@media (max-width: 700px) {
  .content {
    padding: 4rem;
  }

  .center {
    display: inline;
    padding: 8rem 0 6rem;
  }

  .center::before {
    transform: none;
    height: 300px;
  }
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}
