.main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 4rem; */
  min-height: 100vh;

  background-image: url("./assets/banner-multi.png");
  /* filter: invert(1) */
}

.logo {
  position: relative;
}
